{% extends 'layout/base.html' %}
{% load static %}

{% block title %}member/join{% endblock %}

{% block style %}
    <style>
        #joform {
            display: table;
            margin-left: auto;
            margin-right: auto;
            margin-top:10%;
            position:relative;
        }

        #jobtn {
            margin-left:25px;
            margin-top:20px
        }

        .error {
            position:relative;
            left:150px; color:red;
            font-weight: bold
        }
    </style>
{% endblock %}

{% block content %}
{% if request.session.userid %}
    <script>location.href='/';</script>
{% endif %}
    <div id="joform">
        <form name="joinok" method="post" id="joinok">
            <div id='jomsg' style="width:700px; background-color: lightblue; text-align: center">
                <br>
                <h2>{{ form.name }} 님</h2>
                <h2>회원가입을 환영합니다!</h2>
                <h3>게임 플레이 및 다양한 서비스를 이용하실 수 있습니다.</h3>
                <h3>지금바로 전장으로 가보시죠!</h3>
                <br>
            </div>
            <div id="jobtn">
                <p class="button" style="margin-left: 200px">
                    <a href="/login"><img src="/static/img/login.gif" alt="로그인" /></a>
                    <a href="/"><img src="/static/img/movemain.gif" alt="메인으로 이동" /></a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}

{% block jscript %}
{% endblock %}

