{% extends 'layout/base.html' %}
{% load static %}

{% block title %}login{% endblock %}

{% block style %}
<style>
    .container {
        position: relative;
        transform: translate(0,20%);
        width: 20%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        padding: 30px;
        box-shadow: 0 2px 8px 2px #555;
        border-radius: 6px;
        box-sizing: border-box;
    }

    .body img {
        position:absolute;
        width:100%;
        height: 855px;
    }

    .container h2 {
        padding: 10px 15px;
        letter-spacing: 1px;
    }

    input[type=text], input[type=password], button {
        width: 100%;
        padding: 10px 12px;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        text-decoration:none
    }

    input[type=text]:focus, input[type=password]:focus {
        outline: none;
    }

    button a {
        padding: 10px 20px;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 1px;
        color: white;
        text-decoration:none
    }

    button a:hover, button:hover {
        color: orangered;
    }
</style>
{% endblock %}

{% block content %}
    <div class="body">
    <img src="/static/img/bg.jpg" alt="bg">
        <div class="container">
        <form name="loginfrm" method="post" id="loginfrm">
            {% csrf_token %}
            <div style="color: red">{{ error }}</div>
            <div><label for="userid"><b>아이디</b></label>
                <input type="text" name="userid" id="userid" placeholder="아이디를 입력하세요" required>
            </div>

            <div><label for="passwd"><b>비밀번호</b></label>
            <input type="password" name='passwd' id='passwd' placeholder="비밀번호를 입력하세요" required></div>

            <div>
                <button type="submit" id="loginbtn" ><b>로그인</b></button>
                <button type="button" id="joinbtn" class="joinbtn" ><a href="/join"><b>회원가입</b></a></button>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
{% block jscript %}
<script>
        const loginbtn = document.querySelector('#loginbtn');
        loginbtn.addEventListener('click', () => {
            const userid = document.loginfrm.userid;
            const passwd = document.loginfrm.passwd;

        if (userid.value == "") {
            alert('아이디를 입력하세요!'); userid.focus();
            return;
        } else if (passwd.value == '') {
            alert('비밀번호를 입력하세요!'); passwd.focus();
            return;
        } else {
            document.loginfrm.submit();
        }
    });
</script>
{% endblock %}